:root {
    --dark-bg-color: #1F2937;
    --action-bg-color: #3882F6;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --header-text: #1F2937;
}

*, *::after, *::before {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg-color);
    padding: 32px 128px;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.logo-heading, .main-heading, .action-heading, .action-text {
    color: var(--main-text);
}

.logo-heading {
    font-size: 24px;
}

.main-heading {
    font-size: 48px;
}

.nav-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style: none;
}

.link-text, .hero-text {
    color: var(--secondary-text);
    font-size: 18px;
}

a {
    text-decoration: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
    flex-wrap: wrap;
    gap: 64px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    flex-basis: 50%;
}

.image-placeholder {
    width: 500px;
    height: 250px;
    background-color: rgb(124, 124, 124);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text);
}

button {
    padding: 8px;
    height: 2.5rem;
    width: 8rem;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-text);
}

.button-fill {
    background-color: var(--action-bg-color);
    border: 0px solid;
}

.button-outline {
    background-color: inherit;
    border: 1px solid var(--main-text)
}

.button-filled:active {
    border: 1px solid var(--main-text)
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.image-section, .quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 128px;
    gap: 32px;
}

.main-content-heading {
    color: var(--dark-bg-color);
    font-size: 36px;
    text-align: center;
}

.image-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.image-placeholder-2 {
    width: 150px;
    height: 150px;
    border: 2px solid var(--action-bg-color);
    border-radius: 8px;
}

.image-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    align-items: center;
}

.image-text {
    max-width: 150px;
    max-height: 150px;
}

.quote-section {
    background-color: var(--secondary-text);
    flex-basis: 0%;
}

.quote-text {
    color: var(--dark-bg-color);
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author, cite {
    font-style: normal;
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-section {
    display: flex;
    justify-content: center;
    padding: 64px;
}

.action-section-wrapper {
    background-color: var(--action-bg-color);
    display: flex;
    gap: 96px;
    padding: 32px 128px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
    flex-wrap: wrap;
}

.action-left-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-heading {
    font-size: 24px;
}

.action-text {
    font-size: 18px;
}